#ignoring everything except /GameContent and /Mannequin
Content/AnimStarterPack
Content/Collections
Content/Developers
Content/StarterContent
Binaries
DerivedDataCache
Intermediate
Saved
Build
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
